:root{
  --white: #ffffff;
  --black:black;
  --grey1:#ffffffbf;
  --grey2:#a8a29e;
  --pink: #d8b4fe;
--white2: hsla(0, 15%, 95%, 0.884);
}

*, *::before, 
*::after{
  margin:0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body{
  font-family: "Poppins", sans-serif;  
  min-height: 100vh;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}


/* NAVBAR */
header{
  width: 100%;
  background: var(--black);
  z-index: 100;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: fixed;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 90%;
  
  margin: auto;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
#navbar li{
  padding: 15px;
}

#navbar li a{
  color:var(--grey2);
  cursor: pointer;
  transition: 0.3s ease;
}
#navbar .cart-icon{
  font-size: 1.5rem;
  color:var(--pink);
  transition: 0.3s ease;
  position: relative;
  }
  
  #navbar .cart-count{
    position: absolute;
    top:0px;
    right: -10px;
    background-color:var(--pink);
    color: var(--black);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 1rem;
  line-height: 20px;
  text-align: center;
  display: none;
  
  }
  #navbar li i:hover {
    transform: scale(1.2); /* Increases size by 20% */
  }
#navbar li a:hover{
  color:var(--pink);
}
#navbar li a i:hover{
  background-color:var(--pink);
  color: var(--black);
  border-radius: 50%;
  padding: 5px;

}
#navbar li a:hover,
#navbar li a.active{
color:var(--pink)
}

#mobile, #close{
  display: none;
  align-items: center;
}
nav{
  margin: 0;
  padding: 0;
}

/*mini cart & mobile cart*/


   .mini-cart {
  position: absolute;
  top: 60px;
  right: 25px;
  background: var(--black);
  color: var(--white);
  border: 1px solid #ccc;
  width: 280px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 1000;
  display: none;
}

.mini-cart.show {
  display: block;
}
.mini-cart h4{
  margin-bottom: 10px;
  font-weight: 600;
}
.mini-cart ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  max-height: 200px;
  overflow-y: auto;
}

.mini-cart li {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 8px;
}

.mini-cart img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.mini-cart .view-all {
  display: block;
  text-align: center;
  font-weight: 600;
  color: var(--grey1);
}

/* FOOTER SECTION */
.main-footer {
  background-color: black; /* Light gray background */
  padding: 25px 50px;
  text-align: center;
  margin: 0;
  
}

/* FOOTER LINKS */

.footer-links a {
  color: var(--grey1);
  text-decoration: none;
  margin: 0 15px;

}

.footer-links a:hover {
  text-decoration: underline;
}

/* SUBSCRIPTION BOX */
.sub-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--grey1);
}
.subscribe{
  margin-top: 20px;
}
.subscribe p {
  color: var(--grey1);
  margin-bottom: 10px;
}

.email-box {
  display: flex;
  align-items: center;
  border: 2px solid gray;
  padding: 8px;
  background: none;
  margin-top:10px;
}

.email-box input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  color: white;
}

.email-box input::placeholder {
  color: #ffffffbf;
}

.email-box button{
  background: none;
  color: #ffffffbf;
  border: none;
  padding: 10px 15px;
  font-size: 1.2.rem;
  cursor: pointer;
}

/* FOOTER BORDER LINE */
.footer-border {
  width: 100%;
  height: 0.1px;
  background: rgb(116, 115, 115);
  margin: 20px 0;
}

/* BOTTOM BANNER */
.bottom-banner p {
  font-size: 14px;
  color: #ffffffbf;
  font-weight: 500;
}

/* FOOTER */

.subscribe input {
  padding: 10px;
  border:none;
  background: none;
  color: var(--grey1);
  outline: none;
}

.follow-us-icon {
  font-size: 40px;
 margin-top: 10px;
 cursor: pointer;
 
}
#insta, #fb, #twitter{
  color: var(--grey2);
}

#insta:hover {
  transform: translateY(-10%) scale(1.1);
  color: var(--grey2); /* Slight enlargement */
}
#fb:hover {
  transform: translateY(-10%) scale(1.1);
  color: var(--grey2); /* Slight enlargement */
}
#twitter:hover {
  transform: translateY(-10%) scale(1.1);
  color: var(--grey2); /* Slight enlargement */
}
#sub-arrow-btn:hover {
  transform: translateX(10%) scale(1);
  color: var(--grey2); /* Slight enlargement */
}


h2{
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--black);
}

/* PRICES */
.oldPrice {
  font-size: 14px;
  color: var(--black);
  text-decoration: line-through;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--black);
  margin-left: 8px;
}

/* SALE TAG */
.sale-tag {
  position: absolute;
  bottom: 120px;
  left: 20px;
  background: var(--black);
  color: var(--white);
  padding: 5px 10px;
  font-weight: 100;
  border-radius: 15px;
  
}

/* VIEW ALL BUTTON */
.view-all-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.view-all-btn {
  background-color: var(--black);
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
 
}

/* Mobile-first Responsive Styles */

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul#navbar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 50px;
    gap: 1.5rem;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }
  
  nav ul#navbar li {
    width: 100%;
  }

  nav ul#navbar li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: var(--grey2);
  }
 #navbar li{
  padding: 0;

  }
  #navbar li a{color: white;}
  #navbar li a{font-size: 1rem;}
 .cart-icon .cart-count {
  display: none !important;
}

  #mobile{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  #mobile i{
    color:var(--grey2);
    font-size: 24px;
    
  }
  #mobile a i{
    color:var(--pink);
  }
  #mobile a i:hover{
    transform: scale(1.2); 
  }
  #mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
  }

  #bar {
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
  }

  #navbar.active {
    right: 0;
  }

  #close i{
    position:absolute;
    top:30px;
    left: 30px;
    font-size: 24px;
    color: var(--grey2);
  }
  #close i{
    display:block;
  }
  .hero {
    flex-direction: column;
    padding: 2rem 1rem;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
 
  .sub-container{
    display: grid;
  }
}
